# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Autoconf files
config.h
config.status
autom4te.cache
*Makefile

# Fireball specials
*.log
*.x
*.xsf
.project
.svn
.DS_Store
*~
ARCHIVE
results
